In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [2]:
page=requests.get("https://www.imdb.com/chart/top/?sort=ir,desc&mode=simple&page=1")

In [3]:
imdb=bs(page.content,"html.parser")

In [4]:
name=imdb.find_all("td",class_="titleColumn")

In [5]:
name_tag=[]
for i in name[0:100]:
    name_tag.append(i.get_text().replace('\n',""))

In [8]:
year=imdb.find_all("span",class_="secondaryInfo")
year_tag=[]
for i in year[0:100]:
    year_tag.append(i.get_text().replace("\n",""))

In [10]:
rating=imdb.find_all("td",class_="ratingColumn imdbRating")
rating_tag=[]
for i in rating[0:100]:
    rating_tag.append(i.get_text().replace("\n",""))

In [11]:
rating_tag

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2']

In [13]:
import pandas as pd
top100=pd.DataFrame({})

In [14]:
top100['Movie Name']=name_tag
top100['Rating']=rating_tag
top100['Year']=year_tag

In [15]:
top100

                                      Movie Name Rating    Year
0         1.      The Shawshank Redemption(1994)    9.2  (1994)
1                    2.      The Godfather(1972)    9.1  (1972)
2           3.      The Godfather: Part II(1974)    9.0  (1974)
3                  4.      The Dark Knight(2008)    9.0  (2008)
4                     5.      12 Angry Men(1957)    8.9  (1957)
..                                           ...    ...     ...
95                   96.      Citizen Kane(1941)    8.3  (1941)
96                         97.      Dangal(2016)    8.3  (2016)
97              98.      Full Metal Jacket(1987)    8.2  (1987)
98            99.      Ladri di biciclette(1948)    8.2  (1948)
99           100.      Singin' in the Rain(1952)    8.2  (1952)

[100 rows x 3 columns]

In [17]:
top100.to_csv("imdname.csv",index=False)