In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [28]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [29]:
crk=bs(page.content,'html.parser')

In [32]:
team_name=[]
team=crk.find_all('span',class_="u-show-phablet")
for i in team[0:10]:
    team_name.append(i.get_text().replace("\n",""))

In [33]:
team_name

['AUS', 'IND', 'ENG', 'SA', 'NZ', 'WI', 'PAK', 'BAN', 'SL', 'IRE']

In [34]:
matches_count=[]
matches=crk.find_all('td',class_='table-body__cell u-center-text')
for i in matches[0:10]:
    matches_count.append(i.get_text().replace("\n",""))

In [35]:
matches_count

['15', '1,812', '14', '1,670', '16', '1,713', '15', '1,384', '12', '1,025']

In [55]:
rating=crk.find_all('td',class_='table-body__cell u-text-right rating')
rating
rating_count=[]
for i in rating[0:]:
    rating_count.append(i.get_text().replace("\n",""))

In [56]:
rating_count

['121', '119', '107', '92', '85', '77', '61', '47', '13']

In [48]:
point=crk.find_all('td',class_='rankings-block__banner--points')
point
point_count=[]
for i in point[0:10]:
    point_count.append(i.get_text().replace("\n",""))

In [49]:
point_count

['2,436']

In [50]:
import pandas as pd

In [64]:
q1=pd.DataFrame({})

In [68]:
t1=team_name[0:9]
m1=matches_count[0:9]
r1=rating_count[0:9]

In [69]:
t1

['AUS', 'IND', 'ENG', 'SA', 'NZ', 'WI', 'PAK', 'BAN', 'SL']

In [70]:
q1['Team']=t1
q1['Matches']=m1
q1['rating']=r1

In [71]:
page2=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")

In [73]:
bat=bs(page2.content,'html.parser')
player=bat.find_all('td',class_='table-body__cell name')
player
pl=[]
for i in player[0:10]:
    pl.append(i.get_text().replace("\n"," "))

In [75]:
pl

[' Stafanie Taylor ',
 ' Alyssa Healy ',
 ' Smriti Mandhana ',
 ' Amy Satterthwaite ',
 ' Tammy Beaumont ',
 ' Ellyse Perry ',
 ' Lizelle Lee ',
 ' Laura Wolvaardt ',
 ' Mithali Raj ',
 ' Marizanne Kapp ']

In [76]:
team1=bat.find_all('span',class_='table-body__logo-text')
t1=[]
for i in team1[0:10]:
    t1.append(i.get_text().replace("\n",""))

In [77]:
t1

['WI', 'AUS', 'IND', 'NZ', 'ENG', 'AUS', 'SA', 'SA', 'IND', 'SA']

In [78]:
rating1=bat.find_all("td",class_="table-body__cell u-text-right rating")
r1=[]
for i in rating1[0:10]:
    r1.append(i.get_text().replace('\n',""))

In [80]:
len(t1)

10

In [81]:
import pandas as pd

In [82]:
q2=pd.DataFrame({})

In [83]:
q2['Player']=pl
q2['Team']=t1
q2['Rating']=r1

In [86]:
page3=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

In [87]:
bowl=bs(page3.content,"html.parser")

In [88]:
bowler_name=bowl.find_all('td',class_='table-body__cell rankings-table__name name')

In [89]:
bowler_name
name3=[]
for i in bowler_name[0:10]:
    name3.append(i.get_text().replace('\n',""))

In [90]:
name3

['Stafanie Taylor',
 'Marizanne Kapp',
 'Deepti Sharma',
 'Dane van Niekerk',
 'Jess Jonassen',
 'Sophie Devine',
 'Natalie Sciver',
 'Shikha Pandey',
 'Katherine Brunt',
 'Jhulan Goswami']

In [91]:
tea=bowl.find_all("span",class_="table-body__logo-text")
team3=[]
for i in tea[0:10]:
    team3.append(i.get_text().replace('\n',""))

In [92]:
rating3=bowl.find_all("td",class_="table-body__cell rating")
rate3=[]
for i in rating3[0:10]:
    rate3.append(i.get_text().replace("\n",""))

In [93]:
q3=pd.DataFrame({})

In [95]:
q3['Name']=name3
q3['team']=team3
q3['rating']=rate3

In [96]:
q3

               Name team rating
0   Stafanie Taylor   WI    410
1    Marizanne Kapp   SA    389
2     Deepti Sharma  IND    359
3  Dane van Niekerk   SA    335
4     Jess Jonassen  AUS    301
5     Sophie Devine   NZ    289
6    Natalie Sciver  ENG    273
7     Shikha Pandey  IND    250
8   Katherine Brunt  ENG    232
9    Jhulan Goswami  IND    224